{% if page.partners.enable %}
<section class="wrapper bg-soft-ash">
  <div class="container py-10">
    <div class="row justify-content-center align-items-center gx-10 gx-lg-16 gy-6 text-center">
      {% for logo in page.partners.logos %}
      <div class="col-6 col-lg-auto">
        <div class="partner-logo-wrap">
          <img src="{{ logo.image | relative_url }}" alt="{{ logo.alt }}" class="partner-logo">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- /.container -->
</section>
{% endif %}
